fastapi
uvicorn
python-multipart
PyMuPDF
pytesseract
python-docx
pandas
openpyxl
langchain
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
python-dotenv
langchain-nvidia-ai-endpoints
